@import 'macchiato.css';

* {
  border-radius: 0;
  font-family: 'JetBrainsMono Nerd Font', Roboto;
  font-size: 12px;
  min-height: 0;
}

tooltip {
  border-radius: 8px;
  background-color: @crust;
}

tooltip label {
  font-size: 10px;
  color: @text;
}

window#waybar {
  padding-left: 16px;
  background: @crust;
  min-height: 40px;
  border-bottom: 2px solid shade(@crust, 1.2);
  color: @text;
}

#window {
  font-size: 11px;
}

#workspaces button {
  border-radius: 8px;
  color: @text;
  margin: 0 2px 0 2px;
}

#workspaces button.active {
  background-color: shade(@teal, 0.6);
}

#workspaces button:hover {
  opacity: 0.5;
}

#workspaces,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#clock,
#bluetooth,
#power-profiles-daemon,
#window,
#custom-power,
#backlight,
#battery {
  min-width: 20px;
  padding-left: 8px;
  border-radius: 5px;
  padding-right: 8px;
  background-color: @mantle;
  border: 1px solid shade(@mantle, 1.2);
  font-weight: 700;
}

#clock {
  font-size: 14px;
}

#battery.full {
  background-color: shade(@green, 0.5);
}

#battery.charging {
  background-color: shade(@flamingo, 0.5);
}

#power-profiles-daemon.balanced {
  background-color: shade(@blue, 0.5);
}

#power-profiles-daemon.performance {
  background-color: shade(@maroon, 0.5);
}

#power-profiles-daemon.power-saver {
  background-color: shade(@green, 0.5);
}
